pipeline/IngressData.json
{
	"name": "IngressData",
	"properties": {
		"activities": [
			{
				"name": "ImportDataAct",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/*/*.xml"
					},
					{
						"name": "Destination",
						"value": "sink//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"wildcardFolderPath": "*",
							"wildcardFileName": "*.xml",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1
				},
				"inputs": [
					{
						"referenceName": "SftpImportService",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BlobStorageXmlFiles",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AzureFunctLS",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "ForEachAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ImportDataAF",
					"method": "POST",
					"body": {
						"value": "@variables('name')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AZImportFiles",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetMetadataAct",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ImportDataAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobStorageXmlFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachAct",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadataAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "name",
						"value": "@item().name"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataAct').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariableAct",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}