pipeline/IngressData.json
{
	"name": "IngressData",
	"properties": {
		"activities": [
			{
				"name": "ImportDataAct",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/*/*.xml"
					},
					{
						"name": "Destination",
						"value": "sink//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"wildcardFolderPath": "*",
							"wildcardFileName": "*.xml",
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1
				},
				"inputs": [
					{
						"referenceName": "SftpImportService",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BlobStorageXmlFolder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetFolderMetadataAct",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SplitEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetFolderForProcessing",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachAct",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderMetadataAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderMetadataAct').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "ImportFileAF",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "Import",
								"method": "POST",
								"headers": {
									"x-environment": "93cbc3de-cc31-443c-b8c4-2e659f40ad57"
								},
								"body": {
									"fileName": "@item().name"
								}
							},
							"linkedServiceName": {
								"referenceName": "ImportDataAF",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetFilesForSpliting",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ImportDataAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobStorageXmlFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "SplitEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFilesForSpliting",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesForSpliting').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "SplitFile",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "Split",
								"method": "POST",
								"headers": {
									"x-environment": "93cbc3de-cc31-443c-b8c4-2e659f40ad57",
									"Content-Type": "application/json"
								},
								"body": {
									"fileName": "@item().name"
								}
							},
							"linkedServiceName": {
								"referenceName": "ImportDataAF",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"names": {
				"type": "Array"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}